/* responsive */

/* ---------- Quy ước ---------- */
/* 
1. PC ( >=1024px );
2. Tablet ( <1024px and >=740px )
3. Mobile ( <740px )

/* PC */
@media (min-width: 1024px) {
    
}
/* End PC */


/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .contact-form .form-submit-btn {
        margin-right: 8px;
    }

    #content .content-section h2, #content .content-section p {
        padding: 0 15px;
    } 
}
/* End tablet */

/* Mobile */
@media (max-width: 739px) {
    .row {
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
    }

    .col {
        margin: 0;
    }

    #nav .fa-sort-down {
        position: initial;
    }

    #content .content-section h2 {
        padding: 0 15px;
    }
    
    #content .about-text {
        padding: 0 15px;
    }

    #nav li:hover {
        background-color: #ccc;
    }

    #nav > li {
        display: block;
    }

    
    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
        display: flex;
        height: 150px;;
        flex-direction: column;
    }

    #nav li {
        flex: 1;
    }

    #nav .subnav a {
        color: #fff;
        display: block;
        width: 100%;
        height: 100%;
        line-height: 50px;
        padding: 0 35px;
    }

    #header {
        overflow: hidden;
    }

    #header .fa-search {
        display: none;
    }

    #header .fa-bars {
        display: block;
    }

    #content .member-list {
        flex-direction: column;
    }

    #content .member-avt {
        width: 60%;
    }

    #content .tickets-list {
        margin-right: 15px;
        margin-left: 15px;
    }

    .places-list {
        padding: 0 15px;
    }

    .places-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .place-text {
        padding: 0;
    }

    .contact-form-left p {
        padding: 0 15px;
    }

    .contact-form {
        padding: 0 15px;
        width: 100%;
    }

    .contact-form-left {
        width: 100%;
    }

    .div-input-mobile {
        width: 100%;
    }

    .div-input-mobile:first-child {
        padding: 10px 0;
    }
    
    .contact-form .form-submit-btn {
        margin-right: 8px 0;
    }
}
/* End mobile */

/* End responsive */